<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Market Analysis and Prediction</title>
    <link rel="stylesheet" href="./static/css/last.css">
   
</head>
<body>
<div class="heading">
 <h1>Stock Market Analysis and Prediction<h1>
</div>
<div class="data_image" >
  <img src="data:image/png;base64, {{data_graph}}" />
</div>
<div class="desc1">
{{desc1}}
</div>

<div class="train_image" >
     <img src="data:image/png;base64, {{train_graph}}" />
</div>

<div class="desc2">
{{desc2}}
</div>

<div class="prediction_image" >
      <img src="data:image/png;base64, {{prediction_graph}}" />
</div>


<div class="desc3">
{{desc3}}
</div>


</body>
</html>