<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Market Analysis and Prediction</title>
    <link rel="stylesheet" href="./static/css/main.css">
   
</head>
<body>
<div class="heading">
 <h1>Stock Market Analysis and Prediction<h1>
</div>
<h2><div class="choose"><h2>
Select a Company
</div>   

<form action='/predict' method="post" class="col s12" >

<div class="box">
<select name="companies" id="name">
  <option value="HDFCBANK">HDFC BANK</option>
  <option value="CIPLA">CIPLA</option>
  <option value="RELIANCE">RELIANCE</option>
  <option value="TCS">TCS</option>
  <option value="BRITANNIA">BRITANNIA</option>
  <option value="BAJFINANCE">BAJAJ FINANCE</option>
</select>
</div>
<input type="submit" value="SUBMIT">
</form>
<br>


</body>
</html>

